@charset "UTF-8";

/* common */

html {
  font-size: 100%;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.wrapper {
  width: 100%;
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 16px;
}
.logo {
  margin: 0;
}
.section-title {
  font-weight: normal;
}
.section-title .en {
  display: block;
  font-size: 36px;
}
.section-title .ja {
  display: block;
  font-size: 16px;
}
/* header */

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner {
  display: flex;
  align-items: center;
}
header .inner ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
header .contact {
  color: #ffff;
  background:#000;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  width: 200px;
  height: 80px;
}
header .contact:hover {
  background: #333;
}

/* mainvisual */

main {
  background: #f0f0f0;
}
.mainvisual {
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}

/* news */

#news {
  margin-top: 120px;
}
#news .list {
  display: flex;
  justify-content: space-between;
}
#news .list li {
  width: calc(100% / 3);
}

/* about */

#about {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
#about img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
#about .text {
  padding: 0 32px;
}

/* business */

#business {
  margin-top: 120px;
  margin-bottom: 120px;
}
#business .containers {
  display: flex;
}
#business .item {
  text-align: center;
}
#business img {
  width: 50%;
}

/* company */

#company {
  display: flex;
  align-items: center;
}
#company .text {
  width: 50%;
  padding: 0 32px;
}
#company dt {
  float: left;
}
#company dd {
  margin-left: 80px;
}
#company img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}
#company .img {
  width: 50%;
}
/* footer */

footer {
  margin-top: 120px;
}
footer .wrapper {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
